@namespace BlazorUI
@page "/BlurbPage"
@inject ISessionsViewModel SessionsViewModel
@inject NavigationManager NavigationManager


<h3>Deployed at - 2025-05-10 343</h3>

<MudButton Variant="Variant.Text" OnClick="@(() => OpenDrawer(Anchor.Bottom))">Bottom</MudButton>
<Premises />

<MudDrawer @bind-Open="_open"
           Width="100%"
           Height="200px"
           Anchor="_anchor"
           Elevation="1"
           Variant="DrawerVariant.Temporary"
           Style="overflow: hidden;">
    <MudDrawerContent Style="height: 100%; padding: 0;">
        <MudContainer Style="height: 100%; padding: 0; margin: 0;">
            <textarea @bind="_userText"
                      placeholder="Type your text here"
                      style="width: 100%; height: 100%; border: none; outline: none; resize: none; overflow: auto; padding: 12px; box-sizing: border-box;" />
        </MudContainer>
    </MudDrawerContent>
</MudDrawer>

@code {
    
    private bool _open;
    private Anchor _anchor = Anchor.Bottom;
    private string _userText = "";

    protected override async Task OnInitializedAsync()
    {
      
        await base.OnInitializedAsync();
    }
    private void OpenDrawer(Anchor anchor)
    {
        _open = true;
        _anchor = anchor;
    }
}
