@namespace BlazorUI
@page "/"
@inherits LzComponentBaseInjectViewModel<ISessionsViewModel>
@inject NavigationManager NavigationManager
@inject ILzClientConfig ClientConfig

@if (ClientConfig.ConfigureError)
{
    <p>Could not read configuration </p>
    <p>@ClientConfig.ConfigError</p>
}
@*
    This page is the first page that is loaded when the app starts. In a POS Muti-User app, this page
    is used to select from a list of available sessions or create a new session. In a Single-User app,
    this page doesn't appear because the session is created automatically.
*@


@code {
    private bool isBusy = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (ClientConfig.Configured)
        {
            if (ViewModel!.SessionViewModel is null && !isBusy)
            {
                try
                {
                    isBusy = true;
                    await ViewModel.CreateSessionAsync(); 
                }
                catch (Exception ex)
                {
                    Console.WriteLine($"Sessions CreateSessionAsync failed. {ex.Message} ");
                }
                finally
                {
                    isBusy = false;
                }
            }
            if (ViewModel!.SessionViewModel is not null)
                NavigationManager.NavigateTo("HomePage");
        }

        await base.OnAfterRenderAsync(firstRender);
    }

}
