@namespace BlazorUI
@inherits LzLayoutComponentBaseInjectViewModel<ISessionsViewModel>
@inject IJSRuntime JSRuntime
@inject ILzHost Host
@*
    This component instantiates the ISessionsViewModel singleton.
    However, Maui Hybrid and WASM apps do not setup the DI context exactly the same way. 
    In MAUI, it is necessary to pass the JSRuntime into classes that are not UI components. 
    This is done in the Init.razor page. Once this is done, the SessionsViewModel.IsInitialized
    property is set to true.

    Any child components, like NavMenu below, must be aware of the SessionsViewModel 
    initialization lifecycle and operate property before and after initialization. 
*@

<div class="page">
    
    @if(ViewModel!.IsInitialized)
    {
    <div class="sidebar">
        <NavMenu ViewModel="@ViewModel" Title="@tenancyName"/>
    </div>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string tenancyHostUrl = string.Empty;

    private string? tenancyName = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        tenancyName = ViewModel?.TenancyConfig?["tenantName"]?.ToString();

        await base.OnAfterRenderAsync(firstRender);
    }
}