 @namespace BlazorUI
 @inherits LzComponentBaseAssignViewModel<PremisesViewModel>
@inject ISessionsViewModel SessionsViewModel
@inject NavigationManager NavigationManager

@foreach(var premise in ViewModel!.ViewModels.Values)
{
    <div>
        @premise.Data!.Body
    </div>
}


@code {
    protected override async Task OnInitializedAsync()
    {
        ViewModel = SessionsViewModel!.SessionViewModel!.PremisesViewModel;
        ViewModel.Clear();
        await ViewModel.SeedPremises();
        var (success, msg) = await ViewModel!.ReadAsync();

        await base.OnInitializedAsync();
    }

}
